#body {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none; /* Standard syntax */
}

.button {
  width: 150px;
  height: 150px;
  border-radius: 12%;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none; /* Standard syntax */
}

.ml-50 {
  margin-left: 150px;
}

.ml-46 {
  margin-left: 146px;
}

#myCanvas {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
  transform: scale(2);
}

.dpad {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 16px;
  margin-bottom: 16px;
}

.mr-16 {
  margin-right: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.score {
  text-align: end;
  &.container {
    position: absolute;
    top: 0;
    right: 0;
  }
}
